*{
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

.playground{
    width: 600px;
    height: 600px;
    background-color: rgb(4, 20, 42);
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;

}

.button-container{
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    transition: all 0.3s;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.square{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squarenew{
    background-color: aqua;
}
select{
    border: 1px solid rgba(4, 20, 42, 0.527);
    border-radius: 5px;
    padding: 3px;
}
label{
    padding-right: 5px;
}